.loader {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
}

.table-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#no_data {
    padding: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px grey;
}

